---
---
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="initial-scale=1.0"
    />
    <title>Bromine</title>
    <base href="/" />
    <link rel="shortcut icon" content="favicon.ico" />
    <link rel="stylesheet" href="index.css" />
  </head>

  <body>
    <div class="logo-wrapper left-margin">
      <h1>Bromine has skill issue</h1>
    </div>
    <div class="desc left-margin">
      <p>sw was not registered. just clear site data and it should work</p>
    </div>
  </body>
</html>
