---
import Layout from '../Layout.astro';
---
<Layout title="404 - bromine" desc="bromine's shitty 404 page">
<div class="logo-wrapper left-margin">
      <h1>Someone has a skill issue</h1>
      <p>either you got the wrong page or bromines stupid and will not proxy this page. if it doesnt, just clear site data and it should work</p>
      <button onclick="history.back()">go back</button>
</Layout>
