---
import Layout from "@/Layout.astro";
---
<Layout title="games - bromine" desc="bromine's bad games page">
  <script
  is:inline
  async
  defer
  src="/embed.js"

  data-api="https://bread-org.github.io/s16.games"
  data-api2="https://bread-org.github.io/s16.chunk2"

  data-target="#gameContainer"
></script>
  <section id="gameContainer">

<div class="max-w-xs rounded-md border border-overlay bg-base shadow-sm overflow-hidden">
  <img
    src="https://via.placeholder.com/320x180.png?text=Game+Image"
    alt="Game Name"
    class="w-full object-cover"
  />
  <div class="p-4">
    <h3 class="text-lg font-semibold text-text truncate">Game Name</h3>
  </div>
</div>
  </section>
</Layout>
