---
import Layout from "../Layout.astro";
import Lethal from "@/components/Lethal.astro";
import Omnibar from '@/components/Omnibar.astro';
---
<Layout title="bromine" desc="a really shitty proxy">
  <Lethal/>
  <main class="flex flex-col flex-grow"> 
    <Omnibar class="p-2 md:p-4"/>
    <iframe title="Proxy Frame" id="frame" class="w-full h-full border-0 relative"></iframe>
  </main>
</Layout>
