---
import Popup from "../Popup.astro";
---
<Popup
  title="Bookmarks"
  triggerAriaLabel="Bookmarks"
  triggerIcon="lucide:bookmark"
  triggerId="omnibar-bookmarks-btn"
  popupId="bookmarks-popup"
  contentId="bookmarks-popup-content"
  closeBtnId="bookmarks-close-btn"
>
  <!-- Unique bookmarks list -->
  <ul class="space-y-2">
    <li class="py-2 px-1 border-b border-overlay last:border-b-0 text-text">Bookmark 1</li>
    <li class="py-2 px-1 border-b border-overlay last:border-b-0 text-text">Bookmark 2</li>
    <li class="py-2 px-1 border-b border-overlay last:border-b-0 text-text">Bookmark 3 Placeholder</li>
  </ul>
</Popup>
