---
import Popup from "@/Popup.astro"
---

<Popup
  title="History"
  label="History"
  triggerIcon="ph:clock-counter-clockwise-bold"
  triggerId="omnibar-history-btn"
  popupId="history-popup"
  contentId="history-popup-content"
  closeBtnId="history-close-btn"
>
  <ul class="space-y-2" id="history"></ul>
</Popup>

<script>
  import { getProxied } from "@/utils/lethal.ts";

  function renderList() {
    const history = JSON.parse(localStorage.getItem("history") || "[]");
    const list = document.getElementById("history");
    if (!list) return;
    list.innerHTML = "";
    history.forEach((item) => {
      const li = document.createElement("li");
      li.innerHTML = `<span title="${item.url}" class="text-iris underline">${item.title}</span>`;
      li.addEventListener("click", async () => {
        currentFrame.src = await getProxied(item.url);
      });
      list.appendChild(li);
    });
  }

  window.addEventListener("storage", (event) => {
    if (event.key === "history") {
      renderList();
    }
  });

  window.addEventListener("history-changed", renderList);

  renderList();
</script>
