---
import "./styles/global.css";
export interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;
---

<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta content="0.1.3" name="version" />

    <meta property="og:site_name" content="Bromine">
    <meta property="og:url" content="https://holyunblocker.net/">
    <meta property="og:title" content="bromine">
    <meta property="og:type" content="website">
    <meta property="og:description" content="a pretty shitty web proxy trying to uncensor the web">


    <meta name="googlebot" content="index, follow, snippet" />
    <link rel="canonical" href="https://bromineproxy.netlify.app" />

    <meta name="keywords" content="proxy, web proxy, uncensor, bypass firewall, free web proxy">
    <meta name="description" content={desc} />
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body class="text-rose-pine-text bg-rose-pine-base">
    <div class="flex h-screen"> 
      <slot/>
    </div>
  </body>
</html>
