---
import "./styles/global.css";
export interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;
---

<html lang="en">
  <head>
    <meta name="description" content={desc} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="text-rose-pine-text bg-rose-pine-base">
    <slot/>
  </body>
</html>
