@import "tailwindcss";
@import "./data/themes.css";

@theme {
  --font-display: "Switzer", Helvetica, sans-serif;

  --color-base: #191724;
  --color-surface: #1f1d2e;
  --color-overlay: #26233a;
  --color-muted: #6e6a86;
  --color-subtle: #908caa;
  --color-text: #e0def4;
  --color-love: #eb6f92;
  --color-gold: #f6c177;
  --color-rose: #ebbcba;
  --color-pine: #31748f;
  --color-foam: #9ccfd8;
  --color-iris: #c4a7e7;
  --color-highlight-low: #21202e;
  --color-highlight-med: #403d52;
  --color-highlight-high: #524f67;

}

@font-face {
  font-family: 'Switzer';
  font-style: normal;
  src: local('Switzer'), local('Switzer'),
    url("/switzer.woff2")
      format('woff2');
  font-display: swap;
}

::selection {
  background-color: #403d52;
}

::-moz-selection {
  background-color: #403d52;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

label {
  @apply text-xs text-text font-medium;
}

button {
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1) translateY(-2px);
}

button:active {
  transform: scale(0.95);
}

[data-icon] {
  stroke-width: 3; /* Increase stroke thickness */
}


