---
import { Icon } from "astro-icon/components"
---

<footer
  class="w-full absolute bottom-0 bg-surface bg-surface/50 flex justify-between items-center p-4"
>
  <section class="flex items-center gap-4">
    <div class="flex items-center gap-3">
      <a
        href="https://github.com/Bromine-Labs/Bromine"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub Repository"
        class="hover:text-iris transition-colors"
      >
        <Icon name="ph:github-logo-bold" class="size-5" />
      </a>
      <a
        href="https://discord.gg/a3dMNq9D2K"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Discord Server"
        class="hover:text-iris transition-colors"
      >
        <Icon name="ph:discord-logo-bold" class="size-5" />
      </a>
    </div>
    <span>
      Made with ❤️ by <a
        href="https://github.com/Coding4hours"
        class="text-iris underline">Coding4Hours</a
      >
    </span>
  </section>

  <a
    href="https://www.simpleanalytics.com/?referral=dewof-bek"
    referrerpolicy="origin"
    target="_blank"
    class="underline text-iris hover:text-iris/80 transition-colors"
  >
    Simple Analytics
  </a>
</footer>
